/*body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}*/

/* Basic Configuration */
* {
  font-size: 17px;
}

input[type="date"], input[type="submit"], input[type="file"] {
  -webkit-appearance: none;
}

/* File upload */
.file-upload {
  position: relative;
}



input[type="file"] {
  display: none;
}


input, textarea {
  padding: 0px;
}

input[type="checkbox"] {
  vertical-align: top;
  margin-top: 30px;
  display: inline-block;
  width: 10px;
}

input[type="submit"] {
  margin-top: 10px;
  background: #ff6b26;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  border-radius: 5px;
  color: #fff;
}

input[type="number"] {
  -webkit-appearance: none;
}

body {
  background-color: #e3e3e3;
}

body.landing {
  background-color: #273552;
}



/* Seach Bar */
.topcoat-search-input {
  background-color: #fff;
  width: 97%;
  height: 2.5rem;
}

/* List styling */

.listing {
  position: relative;
  padding: 12px 0px 8px 0px;
}

.listing-group {
  background-color: #fff;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.listing-group .listing {
  margin-left: 20px;
}

.listing-img {
  width: 100px;
  height: 70px;
  border-radius: 5px;
}

.show-img {
  width: 120px;
  height: 80px;
  border-radius: 5px;
}

.listing-text {
  margin-top: 3px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.listing-title {
  font-weight: bold;
  color: #273552;
}

.contact-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  line-height: 25px;
  background-color: #273552;
  color: #fff;
}

.timeline-photo {
  float: right;
  vertical-align: top;
  margin: 20px 20px 0px 0px;
  color: #273552;
}

.checkbox {
  vertical-align: top;
  margin: 20px 10px 0px 0px;
  color: #D3D3D3; 
}

.checkbox.selected {
  color: #669900;
}

/* New styling */
.new-photo {
  text-align: center;
  color: #273552;
  margin: 10px 0px 10px 0px;
}
.new-photo img {
  width: 150px;
  height: 100;
  border-radius: 5px;
}


/* Landing pages */

.title {
  text-align: center;
  font-weight: 900;
  font-size: 80px;
  margin-top: 70px;
  color: #ff6b26;
}

.floating-input-group {
  background-color: #fff;
  border-radius: 5px;
}

.floating-input-group .input {
  padding-left: 5px;
}

.input {
  padding: 6px 0px 6px 0px;
  line-height: 24px;
}

input {
  border: none;
  display: inline-block;
  width: 60%;
}

label {
  display: inline-block;
  width: 30%;
  font-weight: bold;
  color: #273552;
}

.underline {
  border-bottom: 1px solid #cfcfcf;
}

.form-button {
  margin-top: 10px;
  background: #ff6b26;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  border-radius: 5px;
  color: #fff;
}




/*  */



/* Input groups */
.input-group {
  margin-top: 30px;
  background-color: #fff;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.input-group .input {
  margin-left: 20px;
}

.input-group a {
  font-weight: bold;
}




/* Text Box */

textarea.text-box {
  border: none;
  display: block;
  width: 100%;
  background-color: #fff;
}

.status {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -8px;
  display:block;
  height:20px;
}



/* Chevron */

li, .input {
  position:relative;
}
.chevron {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -8px;
  display:block;
  height:20px;
}



/* Base styles for both 1/2's of the chevron */
.chevron:before,
.chevron:after {
  position: relative;
  display: block;
  width: 14px;
  height: 2px;
  background-color: #999;
  content: '';
}
/* Position and rotate respective 1/2's of the chevron */
.chevron:before {
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.chevron:after {
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


/* Spinner styles */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  width: 36px;
  height: 36px;
  background-image: url("../../vendor/topcoat/img/spinner2x.png");
  background-size: 36px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
  left: 45%;
  top: 45%;
  -webkit-animation-name:            rotate;
  -webkit-animation-duration:        1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}