<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Steroids App</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


  <link rel="stylesheet" href="/stylesheets/<%= yield.controller %>.css" />

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/preload.js"></script>

  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/underscore/underscore-min.js"></script>
  <!--<script src="/components/momentjs/moment.js"></script>-->

  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>

  <!-- Parse Javascript SDK -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.2.15.min.js"></script>

  <!-- Our Code -->
  <script src="/controllers/frankie.js"></script>

  <script src="/controllers/index.js"></script>
  <script src="/controllers/client-information.js"></script>
  <script src="/controllers/drawer.js"></script>
  <script src="/controllers/edit.js"></script>
  <script src="/controllers/new.js"></script>
  <script src="/controllers/show.js"></script>
  <script src="/controllers/signin.js"></script>
  <script src="/controllers/signup.js"></script>
  <script src="/controllers/timeline.js"></script>
  <script src="/controllers/update-client.js"></script>
  <script src="/controllers/settings.js"></script>
</head>
<body>

  
  <%= yield.view %>

</body>
</html>
