<div ng-app="frankieApp">

  <div ng-controller="CalendarCtrl">

    <!-- Listing -->
<div class="listing-header">OverDue</div>
    <div ng-show="overDueProjects.length">

      <div class="listing-group">

        <div class="listing underline" hm-tap="open(project.id)" ng-repeat="project in overDueProjects | orderBy:'attributes.end'">

          <img class="listing-img" ng-src="{{ project.get('photoURL') || placeholder }}"></img>

          <div class="listing-text">
            <div class="listing-title">{{ project.get('title') }}</div>
            <div>Estimate: ${{ project.get('price')}} </div>
            <div>Due: {{ findNextDate(project) }}</div>
          </div>
          <span class="chevron"/>
        </div>

<div class="listing-header">Due Later</div>

    <div ng-show="dueLaterProjects.length">

      <div class="listing-group">

        <div class="listing underline" hm-tap="open(project.id)" ng-repeat="project in dueLaterProjects | orderBy:'attributes.end'">

          <img class="listing-img" ng-src="{{ project.get('photoURL') || placeholder }}"></img>

          <div class="listing-text">
            <div class="listing-title">{{ project.get('title') }}</div>
            <div>Estimate: ${{ project.get('price')}} </div>
            <div>Due: {{ findNextDate(project) }}</div>
          </div>
          <span class="chevron"/>
        </div>

      </div>

    </div>

  </div>

</div>