<div ng-app="frankieApp">
  <div ng-controller="ClientCtrl">
    <div class="spinner" ng-show="loading"></div>

      <form class="simple-form" ng-submit="create(client)">
        
        <div class="input-group">
          <div class="input underline">
            <input type="text" placeholder="First Name" ng-model="client.firstName" /><br />
          </div>

          <div class="input">
            <input type="text" placeholder="Last Name" ng-model="client.lastName" /><br />
          </div>
        </div>

        <div class="input-group">
          <div class="input underline">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" placeholder="111-111-1111" ng-model="client.phone" /><br />
          </div>

          <div class="input">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="name@example.com" ng-model="client.email" /><br />
          </div>
        </div>

      </form>

    </div>

  </div>

</div>