<script>

  // Sends message for the main view that listens with addEventListener()



</script>

<div ng-app="frankieApp">

  <div ng-controller="DrawerCtrl">
    <div class="topcoat-list__container white-bg">
      <h3 class="topcoat-list__header">Settings</h3>

      <ul class="topcoat-list">
        <li class="topcoat-list__item" hm-tap="logout()">Logout</li>
        <li class="topcoat-list__item" ontouchend="closeDrawerAndSendMessage('settings')">Settings</li>
        <li class="topcoat-list__item" ontouchend="steroids.openURL('http://www.google.com')">Open Google</li>
      </ul>

    </div>

  </div>
</div>