<div ng-app="frankieApp">

  <div ng-controller="EditCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">

      <form class="simple-form">
        Title: <input type="text" ng-model="project.title">{{ project.attributes.title }}</input><br />

        Notes: <input type="text" ng-model="project.notes">{{ project.attributes.notes }}</input><br />

        <a class="topcoat-button--cta full center" hm-tap="update(project)">Update</a>
      </form>
    </div>

  </div>

</div>