<div ng-app="frankieApp">

  <div ng-controller="IndexCtrl">
    <!-- Search Box -->
    <input type="search" ng-model="liveSearch" placeholder="search" class="topcoat-search-input">

    <div ng-show="projects.length">

      <div class="listing-group">
        <!-- order is reversed created timestamp -->
        <div class="listing underline" hm-tap="open(project.id)" ng-repeat="project in projects | filter:liveSearch">
          <img class="listing-img" ng-src="{{ project.get('photo').url() || placeholder }}"></img>
          
          <div class="listing-text">
            <div class="listing-title">{{ project.attributes.title }}</div>
            <div>Next step: {{ project.attributes.timeline[0].description }} </div>
            <div>Due in 1 Day</div>
          </div>

          <span class="chevron"/>
        </div>

      </div>

    </div>

  </div>

</div>