<div ng-app="frankieApp">

  <div ng-controller="NewCtrl">
    <div class="spinner" ng-show="loading"></div>
      <form class="simple-form" ng-submit="create(project)">

        <div class="input-group">
          <div class="input underline">
            <input id="title" type="text" placeholder="Title" ng-model="project.title" /><br />
          </div>

          <div class="input">
            <textarea class="text-box" rows="2" placeholder="Notes" ng-model="project.notes"></textarea><br />
          </div>
        </div>

        <div class="input-group">
          <a hm-tap="openClientInfo()">
            <div class="input">
              Cover Photo
              <span class="chevron"/>
            </div>
          </a>  
        </div>

        <div class="input-group">

          <div class="input underline">
            <label for="price">Price</label>
            <input id="price" type="number" ng-model="project.price" /><br />
          </div>
          
          <div class="input underline">
            <label for="start">Start date</label>
            <input type="date" id="start" placeholder="Start Date" ng-model="project.start" />
          </div>

          <div class="input">
            <label for="end">End date</label>
            <input type="date" id="end" placeholder="End Date" ng-model="project.end" /><br />
          </div>

        </div>

        <div class="input-group">
          <a hm-tap="openClientInfo()">
            <div class="input">
              Client Information
              <span class="chevron"/>
            </div>
          </a>  
        </div>
        
        <div class="input-group">
          <a hm-tap="openTimeline()">
            <div class="input">
              Timeline
              <span class="chevron"/>
            </div>
          </a> 
        </div>
      </form>

  </div>

</div>