<div ng-app="frankieApp">

  <div ng-controller="NewCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">
      <form class="simple-form">
        
        <input class="topcoat-text-input full" type="text" placeholder="Title of Project" ng-model="project.title" /><br />

        <input class="topcoat-text-input full" type="text" placeholder="Notes" ng-model="project.notes" /><br />

        <input class="topcoat-text-input full" type="date" placeholder="Start Date" ng-model="project.start" />

        <input class="topcoat-text-input full" type="date" placeholder="End Date" ng-model="project.end" /><br />

        <a class="topcoat-button full">
          Project Type
          <span class="chevron"/>
        </a>

        <a class="topcoat-button full" hm-tap="openClientInfo()">
          Client Information
          <span class="chevron"/>
        </a>  

        <a class="topcoat-button--cta full center" hm-tap="create(project)">Build Project</a>
      </form>

    </div>

  </div>

</div>