<div ng-app="frankieApp">

  <div ng-controller="SettingsCtrl">
  
    <div class="content-padded">
      
      <form class="simple-form" ng-submit="sendRequest()">

        <input type="submit" value="Request New Password" />

      </form>

    </div>
        
    <div class="content-padded">

      <form class="simple-form" ng-submit="updateEmail(update)">

        <div class="floating-input-group">
          
          <div class="input underline">
            <label for="email">New Email</label>
            <input type="email" id="email" placeholder="Required" ng-model="update.newEmail" />
          </div>

          <div class="input">           

            <label for="email">Confirm Email</label>
            <input type="email" id="email" placeholder="Required" ng-model="update.confirmEmail" />
        
          </div>

        </div>

        <input type="submit" value="Update Email" />

      </form>

    </div>

  </div>

</div>