<div ng-app="frankieApp">

  <div ng-controller="SettingsCtrl">
  
    <div class="content-padded">
      
        <form class="simple-form" ng-submit="update(updateUser)">

        <div class="floating-input-group">

          <div class="input">
            <label for="username">New Username</label>
            <input type="text" id="username" placeholder="Required" ng-model="updateUser.username" />
          </div>
          
          <div class="input underline">
            <label for="password">New Password</label>
            <input type="password" id="password" placeholder="Required" ng-model="updateUser.password" />
          </div>

        </div>
        
        <input type="submit" value="Update" />

      </form>

    </div>

  </div>

</div>