<div ng-app="frankieApp">

  <div ng-controller="ShowCtrl">
    <div class="spinner" ng-show="loading"></div>
    <input id="file" type="file" fileread="photo" accept="image/*"></input>

    <!-- Header information -->
    <div class="listing-group">
      <div class="listing">
        <img class="show-img" ng-src="{{ project.photoURL || placeholder }}"></img>
        <div class="listing-text">
          <div ng-show="!project.clientInfo" class="listing-title"> No client info </div>
          <div ng-show="project.clientInfo" class="listing-title">
            {{ project.title }}
          </div>
          <div>
            {{ project.start }} - {{ project.end }}
          </div>
          <div>
            <a class="contact-button" href="tel:{{ project.clientInfo.phone }}">call</a>
            <a class="contact-button" href="mailto:{{ project.clientInfo.email }}">email</a>
            <a class="contact-button" href="sms:{{ project.clientInfo.phone }}">text</a>
          </div>
        </div>
      </div>
      <div ng-show="project.notes" class="listing underline">
        {{ project.notes }}
      </div>
    </div>

    <div ng-show="project.timeline">
      <div class="listing-group">
        <div class="listing underline" hm-tap="open(project.id)" ng-repeat="milestone in project.timeline">
          <input type="checkbox"></input>
          <img class="listing-img" ng-src="{{ milestone.photoURL || placeholder }}"></img>
          <div class="listing-text">
            <div class="listing-title">{{ milestone.description }}</div>
            <div>Due on: {{ milestone.date }} </div>
          </div>
          <div class="timeline-photo-button file-upload">
            <i class="fa fa-camera fa-2x" hm-tap="uploadPhoto($index)"></i> 
          </div>
        </div>
      </div>
    </div>

  </div>

</div>