<div ng-app="frankieApp">

  <div ng-controller="ShowCtrl">
    <div class="spinner" ng-show="loading"></div>

    <!-- Header information -->
    <div class="listing-group">
      <div class="listing underline">
        <img class="listing-img" ng-src="{{ project.get('photo').url() || placeholder }}"></img>
        <div class="listing-text">
          <div ng-show="project.clientInfo" class="listing-title">
            {{ project.clientInfo.firstName + ' ' + project.clientInfo.lastName }}
          </div>
        </div>
      </div>
      <div ng-show="project.notes" class="listing underline">
        {{ project.notes }}
      </div>
    </div>

    <div class="content-padded">
      <!-- Project Info -->
      <h2>{{ project.title }}</h2>
      <p>{{ project.notes }}</p>
      
      <!-- Client Info -->
      <div ng-show="project.clientInfo">
        <h2> Client Info: </h2>
        <div>{{ project.clientInfo.firstName + ' ' + project.clientInfo.lastName }}</div>
        <a href="mailto:{{ project.clientInfo.email }}">email</a></br>
        <a href="tel:{{ project.clientInfo.phone }}">call</a></br>
        <a href="sms:{{ project.clientInfo.phone }}">text</a></br>
      </div>

      <!-- Timeline -->
      <div ng-show="project.timeline">
        <h2>Timeline</h2>
        <ul ng-repeat="milestone in project.timeline">
          <li>Description: {{ milestone.description }}</li>
          <li>Date: {{ milestone.date }}</li>
        </ul>
      </div>

    </div>

  </div>

</div>