<div ng-app="frankieApp">

  <div ng-controller="SignupCtrl">
<!--     <div class="spinner" ng-show="loading"></div>
 -->    <div class="content-padded">
      <h1>FRANKIE</h1>

      <form class="simple-form">
        <input class="topcoat-text-input full center" type="text" placeholder="Username" ng-model="frankie.name" /><br />

        <input class="topcoat-text-input full center" type="text" placeholder="Email" ng-model="frankie.email" /><br />

        <input class="topcoat-text-input full center" type="password" placeholder="Password" ng-model="frankie.description" /><br />

        <a class="topcoat-button--cta full center" hm-tap="create(frankie)">Signup</a>
<!--         <a class="topcoat-button" hm-tap="close()">Cancel</a>
 -->      </form>

    </div>

  </div>

</div>