<div ng-app="frankieApp">

  <div ng-controller="SignupCtrl">
<!--     <div class="spinner" ng-show="loading"></div>
 -->    <div class="content-padded">
      <div class="title">Signup</div>
      
      <form class="simple-form" ng-submit="create(user)">

        <div class="input-group">
          
          <div class="input underline">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username" ng-model="user.username" />
          </div>
          
          <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" ng-model="user.password" />
          </div>

        </div>
        
        <div class="form-button">
          <a hm-tap="create(user)">Signup</a>
        </div>
      </form>

    </div>

  </div>

</div>