<div class="signin" ng-app="frankieApp">

  <div ng-controller="SigninCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">
      <div class="title">FRANKIE</div>

      <form class="simple-form" ng-submit="create(frankie)">
        
        <div class="floating-input-group">
          
          <div class="input underline">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="myuser" ng-model="frankie.username" />
          </div>
          
          <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="mypass" ng-model="frankie.password" />
          </div>
        </div>
        
        <input type="submit" value="Signin" />

      </form>

    </div>

  </div>

</div>