<div ng-app="frankieApp">

  <div ng-controller="TimelineCtrl">

      <div class="input-group" ng-repeat="milestone in milestones">

        <div class="input underline">
          <label for="description">{{ "Milestone " + ($index + 1) }}</label>
          <input id="description" type="text" ng-model="milestone.description" placeholder="title">
        </div>

        <div class="input">
          <label for="date">Due Date</label>
          <input id="date" type="date" ng-model="milestone.date">
        </div>

      </div>

    <a class="topcoat-button--cta full center" hm-tap="save()">Save Timeline</a>

  </div>

</div>