<div ng-app="frankieApp">

  <div ng-controller="UpdateClientCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">
      <form class="simple-form" ng-submit="create(client)">
        
        <input class="topcoat-text-input full" type="text" placeholder="First Name" ng-model="client.firstName" name="fname" /><br />

        <input class="topcoat-text-input full" type="text" placeholder="Last Name" ng-model="client.lastName" /><br />
        
        <input class="topcoat-text-input full" type="tel" placeholder="Phone" ng-model="client.phone" /><br />

        <input class="topcoat-text-input full" type="email" placeholder="Email" ng-model="client.email" /><br />

        <input type="submit" value="Save"></input>
      </form>

    </div>

  </div>

</div>